#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

#github-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  padding: 10px 20px;
  background-color: #0073e6;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.user-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.user-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-card img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card a {
  display: block;
  text-decoration: none;
  background-color: #0073e6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.repo-list {
  margin-top: 20px;
}

.repo-list h3 {
  font-size: 18px;
}

.repo-list ul {
  list-style: none;
  padding: 0;
}

.repo-list li {
  margin: 10px 0;
}

.repo-list a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}
